<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="order_hold_command" xsi:type="object">Sample\Order\Console\Command\HoldCommand</item>
                <item name="order_unhold_command" xsi:type="object">Sample\Order\Console\Command\UnholdCommand</item>
            </argument>
        </arguments>
    </type>
</config>
